<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>图书信息</title>
</head>
<body>
    <table align="center" border="1" cellspacing="0" cellpadding="5" style="text-align: center;border: 1px solid red">
        <tr>
            <th width="50">编号</th>
            <th width="150">名称</th>
            <th width="50">作者</th>
            <th width="200">时间</th>
            <th width="150">类型</th>
            <th width="50">操作</th>
        </tr>
        <tr th:each="book:${bookList}">
            <td th:text="${book.bid}"></td>
            <td th:text="${book.bname}"></td>
            <td th:text="${book.bauthor}"></td>
            <td th:text="${book.btime}"></td>
            <td th:switch="${book.btype}">
                <span th:case="1">计算机/软件</span>
                <span th:case="2">小说</span>
            </td>
            <td>
                <a th:id="${book.bid}" href="javascript:void(0)">删除</a>
            </td>
        </tr>
        </table>
    <h3 align="center"><a href="add.html">添加图书信息</a></h3>
</body>
</html>